// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css';

@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';

@import '~admin-lte/plugins/jqvmap/jqvmap.min.css';

@import '~admin-lte/dist/css/adminlte.min.css';

@import '~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';

@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

@import "~toastr/toastr.scss";

@import '~sweetalert2/dist/sweetalert2.css';

.navbar {
    padding: .2rem;
}

.container-logo{
    height: 60px;
    border-bottom: 3px solid #eff32c;
}

.content{
    background-color:#dee7f1;
    min-height: 100vh;
}

#logo{
	overflow: hidden;
	width: auto;
}

#logo > img{
	display:block;
    margin:auto;
    height: 60px;
}

.content-wrapper {
    background: #e2eaf5!important;
}

.card-header-custom {
	background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .35rem 1.5rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.table td, .table th {
    padding: .45rem!important;
}

.swal2-icon{
	width: 4em!important;
    height: 4em!important;
}

.swal2-title{
	font-size:18px!important;
}

.swal2-content{
	font-size:15px!important;
}

.swal2-styled.swal2-confirm {
	font-size:14px!important;
}

.swal2-styled.swal2-cancel {
	font-size:14px!important;
}
.block-loading 
{
    z-index: 9999;
    display: flex;
    background: url(/images/loading.gif?9783e0a…) #eee center center no-repeat;
    position: fixed;
    z-index: 1060;
    opacity: 0.7;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    padding: .625em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}

.block-loading-graficas  {
    z-index:9999;
    background: url(/images/loading.gif?9783e0a…) #eee center center no-repeat;
    position: absolute;
    width:100%;
    height:100%;
    z-index:999;
    opacity:0.7;
}


.navbar-lightblue
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0f5598), color-stop(60%, #0b549a), to(#02325f))!important;
    background-image: linear-gradient(#3c8dbc, #196996 60%, #134c6d)!important;
    background-repeat: no-repeat!important;
}

.navbar-dark .navbar-nav .nav-link 
{
    color: #fff !important;
}






